settings.py
*.pyc

bin/
certifi-2020.12.5.dist-info/
certifi/
chardet-4.0.0.dist-info/
chardet/
idna-2.10.dist-info/
idna/
praw-7.2.0.dist-info/
praw/
prawcore-2.0.0.dist-info/
prawcore/
requests-2.25.1.dist-info/
requests/
six-1.15.0.dist-info/
six.py
update_checker-0.18.0.dist-info/
update_checker.py
update_checker_test.py
urllib3-1.26.4.dist-info/
urllib3/
websocket/
websocket_client-0.58.0.dist-info/
